<div class="container my-5">
  <h1>Plan du site</h1>
  <ul class="list-unstyled mt-4">
    <li><%= link_to "Page d'accueil", root_path %></li>
    <li><%= link_to "Liste de jardins", gardens_path %></li>
    <li><%= link_to "Tableau de bord", dashboard_path %></li>
    <li><%= link_to "Publier un jardin", new_garden_path %></li>
    <li><%= link_to "Confidentialité", confidentiality_path %></li>
    <li><%= link_to "Conditions générales", terms_path %></li>
    <li><%= link_to "Plan du site", sitemap_path %></li>
    <li><%= link_to "Fonctionnement du site", how_it_works_path %></li>
    <li><%= link_to "Infos sur l'entreprise", about_us_path %></li>
  </ul>
</div>
